{
    "compact": false,
	"presets": [
		["es2015", { "modules": false }],
        "react",
        "stage-0"
	],
    "plugins": [
        "react-hot-loader/babel"
    ],

    "env": {
        "test": {
            "plugins": ["transform-es2015-modules-commonjs"]
        }
    }
}
