#verticalLine {
    border-left: solid black;
    position: absolute;
    z-index: 1;
    left: 0px;
    top: 0px;
}

/*theme?*/
/*	#D7CEC7, #565656, #76323F, #C09F80	*/

.inactive {
    background-color: gray;
    color: gray;
}
.inactive:hover {
    color: gray;
}

.allButtons {
    margin:25px 0 0 0;
    padding-bottom: 20px;
}

.allButtons div {
    padding-bottom: 5px;
    height: 39px;
}

.allButtons .btn {
    width: 66px;
    height: 34px;
    border: 1px solid rgb(186, 186, 186) ;
}

.speedButtons {

}

.speedButtons button {
}

.btn {
    padding: 0;
    padding-left: 0;
    padding-right: 0;
}
.btn:focus {
    outline: none;
}

.textBtn {
    padding: 0;
}
.textBtn span {
    white-space: normal;
    display: block;
    line-height: 1;
    word-break: break-word;
    white-space: normal; /* override bootstrap's default btn, no break */
}

.qwerty {

}

.qwerty button {
}

button span {
    text-align: center;
}

#titleSpan {
    margin-left: 20px;
    position: absolute;

}

#titleSpan h1 {
    font-size: 65px;
}

.aboutSection {
    margin-right: 20px;
    font-size: 13px;
    text-align: right
}



#dropZoneManual {
text-align: center;
}

#dropZoneManual input {
margin-right: auto;
margin-left: auto;
}

/* layout.css Style */
.upload-drop-zone {
    height: 200px;
    border-width: 2px;
    margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
    margin-left: 100px;
    margin-right: 100px;
    color: #ccc;
    border-style: dashed;
    border-color: #ccc;
    line-height: 200px;
    text-align: center
}
.upload-drop-zone.drop {
    color: #222;
    border-color: #222;
}

.uploadSquare {
    height: 150px;
    text-align: center;
}

.progress-bar {
    transition: none;
}

.glyphicon {
    line-height: 0;
}